@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<div>
    
    <div class="grid-container">

        <div class="item1">
            <img src="https://cdn.discordapp.com/attachments/1035452783442264094/1036192998523940874/wellcome.png"
                 alt="wellcome" style="width: 750px;">
            <div class="liner1">
                <h3 class="none">
                    -----------------------------------------------------------------------------------------------------------------------
                    </h3>
            </div>
        </div>
        <!-- <div class="item2">Menu</div> -->
        <div class="item3" style="color:#ffff">
            <div class="row">


                <div class="column">
                    <div class="content">
                        <img src="https://cdn.discordapp.com/attachments/913392402578939904/1043983258645450792/rectangle_991-550x368.jpg"
                             alt="Mountains" style="width:100%">
                        <div class="dropdown2">
                            <div class="dropdown">
                                <button type="button" class="btn btn-warning dropdown-toggle dropdown2"
                                        role="button" data-toggle="dropdown">
                                    เปิดรับฝาก
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" onclick="location.href='@Url.Action("add_menu11", "Home")'">ร้านที่1</a></li>
                                    <li><a class="dropdown-item" onclick="location.href='@Url.Action("add_menu12", "Home")'">ร้านที่2</a></li>
                                    <li><a class="dropdown-item" onclick="location.href='@Url.Action("add_menu13", "Home")'">ร้านที่3</a></li>
                                </ul>
                            </div>
                        </div>
                        <h3>โรงอาหาร A</h3>
                        <p>
                            Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
                            tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.
                        </p>
                    </div>
                </div>


                <div class="column" >
                    <div class="content">
                        <img src="https://media.discordapp.net/attachments/913392402578939904/1043983258871935016/1553331185052-20190322_110013.jpg?width=895&height=503"
                             alt="Lights" style="width:100%">
                        <div class="dropdown2">
                            <div class="dropdown">
                                <button type="button" class="btn btn-warning dropdown-toggle dropdown2"
                                        role="button" data-toggle="dropdown">
                                    เปิดรับฝาก
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" onclick="location.href='@Url.Action("add_menu21", "Home")'">ร้านที่1</a></li>
                                    <li><a class="dropdown-item" onclick="location.href='@Url.Action("add_menu22", "Home")'">ร้านที่2</a></li>
                                    <li><a class="dropdown-item" onclick="location.href='@Url.Action("add_menu23", "Home")'">ร้านที่3</a></li>
                                </ul>
                            </div>
                        </div>
                        <h3>โรงอาหาร C</h3>
                        <p>
                            Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
                            tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.
                        </p>
                    </div>
                </div>


                <div class="column">
                    <div class="content">
                        <img src="https://media.discordapp.net/attachments/913392402578939904/1043983259127783505/dropbox-new-headquarters-avroko_dezeen_dooddot.jpg"
                             alt="Nature" style="width:100%">
                        <div class="dropdown2">
                            <div class="dropdown">
                                <button type="button" class="btn btn-warning dropdown-toggle dropdown2"
                                        role="button" data-toggle="dropdown">
                                    เปิดรับฝาก
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" onclick="location.href='@Url.Action("add_menu31", "Home")'">ร้านที่1</a></li>
                                    <li><a class="dropdown-item" onclick="location.href='@Url.Action("add_menu32", "Home")'">ร้านที่2</a></li>
                                    <li><a class="dropdown-item" onclick="location.href='@Url.Action("add_menu33", "Home")'">ร้านที่3</a></li>
                                </ul>
                            </div>
                        </div>
                        <h3>โรงอาหาร J</h3>
                        <p>
                            Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
                            tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.
                        </p>
                    </div>
                </div>


                <div class="column">
                    <div class="content">
                        <img src="https://cdn.discordapp.com/attachments/1035452783442264094/1035920609357607032/download.jpg"
                             alt="Mountains" style="width:100%">
                        <div class="dropdown2">
                            <div class="dropdown">
                                <button type="button" class="btn btn-warning dropdown-toggle dropdown2"
                                        role="button" data-toggle="dropdown">
                                    เปิดรับฝาก
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" onclick="location.href='@Url.Action("add_menu41", "Home")'">ร้านที่1</a></li>
                                    <li><a class="dropdown-item" onclick="location.href='@Url.Action("add_menu42", "Home")'">ร้านที่2</a></li>
                                    <li><a class="dropdown-item" onclick="location.href='@Url.Action("add_menu43", "Home")'">ร้านที่3</a></li>
                                </ul>
                            </div>
                        </div>
                        <h3>โรงอาหาร พระเทพ</h3>
                        <p>
                            Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
                            tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.
                        </p>
                    </div>
                </div>


                <div class="column">
                    <div class="content">
                        <img src="https://media.discordapp.net/attachments/913392402578939904/1043983259865985024/007e70a25db20069.jpg?width=895&height=596"
                             alt="Lights" style="width:100%">
                        <div class="dropdown2">
                            <div class="dropdown">
                                <button type="button" class="btn btn-warning dropdown-toggle dropdown2"
                                        role="button" data-toggle="dropdown">
                                    เปิดรับฝาก
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" onclick="location.href='@Url.Action("add_menu51", "Home")'">ร้านที่1</a></li>
                                    <li><a class="dropdown-item" onclick="location.href='@Url.Action("add_menu52", "Home")'">ร้านที่2</a></li>
                                    <li><a class="dropdown-item" onclick="location.href='@Url.Action("add_menu53", "Home")'">ร้านที่3</a></li>
                                </ul>
                            </div>
                        </div>
                        <h3>โรงอาหารสถาปัตย์</h3>
                        <p>
                            Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
                            tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.
                        </p>
                    </div>
                </div>


                <div class="column">
                    <div class="content">
                        <img src="https://media.discordapp.net/attachments/913392402578939904/1043983259425591387/IMG_8340-1-scaled.jpg?width=895&height=597"
                             alt="Mountains" style="width:100%">
                        <div class="dropdown2">
                            <div class="dropdown">
                                <button type="button" class="btn btn-warning dropdown-toggle dropdown2"
                                        role="button" data-toggle="dropdown">
                                    เปิดรับฝาก
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" onclick="location.href='@Url.Action("add_menu61", "Home")'">ร้านที่1</a></li>
                                    <li><a class="dropdown-item" onclick="location.href='@Url.Action("add_menu62", "Home")'">ร้านที่2</a></li>
                                    <li><a class="dropdown-item" onclick="location.href='@Url.Action("add_menu63", "Home")'">ร้านที่3</a></li>
                                </ul>
                            </div>
                        </div>
                        <h3>โรงอาหารวิทยา</h3>
                        <p>
                            Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at
                            tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.
                        </p>
                    </div>
                </div>

                   

            </div>
        </div>
    </div>

</div>